* {
  box-sizing: border-box;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  box-sizing: border-box;
  background-color: var(--secondary-color);
}

header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0 10px;
  background-color: var(--primary-color);
  grid-area: header;
}

header img {
  border-radius: 50%;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 1rem;
  background-color: var(--primary-color);
  grid-area: footer;
}

main {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  grid-area: main;
  overflow: hidden;
  overflow-y: auto;
}

.layout {
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  grid-template-columns: 150px repeat(4, 1fr);
  grid-template-rows: 175px calc(100dvh - 200px) 25px;
  grid-template-areas:
    "header header header header header"
    "navigation main main main main"
    "navigation footer footer footer footer";
  transition: grid-template-columns 150ms, grid-template-rows 5ms ease;
}

.layout > nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  background-color: var(--primary-color);
  grid-area: navigation;
  overflow: hidden;
  position: relative;
}

.layout > nav:after {
  content: "";
  background: #fff;
  position: absolute;
  bottom: 15%;
  right: 10px;
  height: 75%;
  width: 1px;
}

.layout > nav a {
  position: relative;
  padding: 0 15px;
  text-decoration: none;
  color: var(--text-primary);
}

.layout > nav a:hover {
  padding: 0 15px;
  text-decoration: none;
  color: var(--text-secondary);
}

.layout > nav a[data-active="true"]::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  bottom: -5px;
  left: 15px;
  background-color: var(--text-secondary);
  transform-origin: bottom right;
  transition: transform 5s ease-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

[data-mobile] {
  animation-iteration-count: 1;
  animation-name: fadeOut;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
  filter: grayscale(10);
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

dialog {
  background-color: #0017ff00;
  backdrop-filter: blur(5px);
  box-shadow: inset black 0px 0px 60px -19px;
  border: none;
  border-radius: 6px;
}
