.headerOne {
    font-size: 4rem;
}

.paragraph {
    font-family: "Fira Code", monospace;
    margin: 1rem;
    line-height: 1.3;
}

input[type="search"] {
    font-size: 1rem;
    border: 2px solid;
    padding: .5rem;
    border-radius: 6px;
    color: #fff;
    background-color: transparent;
}

input[type="search"]::placeholder {
    color: #fff;
    opacity: .7;
}