html,
body {
  background-color: darkgray;
  color: #fff;
}

input[type="text"] {
  width: 150px;
  display: block;
  margin-bottom: 10px;
  background-color: yellow;
}

/* @media (prefers-color-scheme: dark) {
  html {
    filter: invert(1) hue-rotate(180deg);
  }
} */

.App {
  margin: 10px;
}
