   * {
     box-sizing: border-box;
   }

   :root {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     font-weight: 400;
     --primary-color: #222831;
     --secondary-color: #31363F;
     --text-primary: #EEEEEE;
     --text-secondary: #76ABAE;
   }

   body,
   html {
     margin: 0;
     padding: 0;
     color: var(--text-primary);
     box-sizing: border-box;
     background-color: var(--primary-color);
   }

   header {
     display: flex;
     align-items: center;
     width: 100vw;
     background-color: var(--primary-color);
     grid-area: header;
   }

   footer {
     width: 100vw;
     background-color: var(--primary-color);
     grid-area: footer;
   }

   main {
     width: 100vw;
     background-color: var(--secondary-color);
     grid-area: main;
   }

   .layout {
     display: grid;
     height: 100vh;
     background-color: var(--secondary-color);
     grid-template-columns: 25vw 25vw 25vw 25vw;
     grid-template-rows: 50px calc(100vh - 70px) 20px;
     grid-template-areas:
       "header header header header"
       "main main main main"
       "footer footer footer footer";
   }

   @media (prefers-color-scheme: light) {
     :root {
       --primary-color: #a9abad;
       --secondary-color: #fff;
       --text-primary: #000;
       --text-secondary: #76ABAE;
     }
   }