   * {
     box-sizing: border-box;
   }

   :root {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     font-weight: 400;
     --primary-color: #222831;
     --secondary-color: #31363F;
     --text-primary: #EEEEEE;
     --text-secondary: #76ABAE;
   }

   body,
   html {
     margin: 0;
     padding: 0;
     color: var(--text-primary);
     box-sizing: border-box;
     background-color: var(--primary-color);
   }

   header {
     display: flex;
     align-items: center;
     padding: 0 10px;
     background-color: var(--primary-color);
     grid-area: header;
   }

   footer {
     background-color: var(--primary-color);
     grid-area: footer;
   }

   main {
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: var(--secondary-color);
     grid-area: main;
   }

   .layout {
     display: grid;
     height: 100vh;
     background-color: var(--secondary-color);
     grid-template-columns: 100px repeat(4, 1fr);
     grid-template-rows: 50px calc(100vh - 70px) 20px;
     grid-template-areas:
       "navigation header header header header"
       "navigation main main main main"
       "navigation footer footer footer footer";
     transition: 300ms;
   }

   .layout nav {
     display: flex;
     gap: 1rem;
     flex-direction: column;
     background-color: var(--primary-color);
     grid-area: navigation;
     overflow: hidden;
   }

   .layout nav a {
     padding: 0 10px;
   }

   @media screen and (max-width: 600px) {
     .layout {
       grid-template-columns: 0 repeat(4, 1fr);
     }
   }

   @media (prefers-color-scheme: light) {
     :root {
       --primary-color: #a9abad;
       --secondary-color: #fff;
       --text-primary: #000;
       --text-secondary: #76ABAE;
     }
   }